* {
	margin: 0;
	padding: 0;
	font-family: verdana, sans-serif;
}
.background {
	background-image: linear-gradient(rgba(0,0,0,0.76),rgba(0,0,0,0.65)), url(tarek..jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
}
.logo {
	font-weight: bolder;
	font-family: Proxima Nova;
	font-variant: small-caps;
	padding-left: 40px;
	padding-top: 20px;
	color: cornsilk;
	transition: 200ms;
	font-size: 40px;
}
.logo:hover {
		color: #fff;
	}

div nav ul {
	position:absolute;
	right: 50px;
	top: 20px;
	font-size: 25px;
	list-style: none;
	text-align: right;
	text-transform: uppercase;
	color: #fff;
}
div nav ul li {
	font-weight: 600;
	display: inline-block;
	padding-right: 30px;
}
div nav ul li a, div nav ul button a {
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
}
div nav ul li:hover a{
	color: cornsilk;
}
div nav ul li:active a{
	color: red;
}
div nav ul button {
	font-weight: 600;
	position: relative;
	font-size: 25px;
	padding: 12px 15px;
	background-color: transparent;
	border: 1px solid orange;
	border-radius: 35px;
	cursor: pointer;
	transition: 300ms;
}
div nav ul button:hover {
	background-color: orange;
	border-color: #000;

}
div nav ul button:active {
	background-color: red;
}
.body {
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
}
.body h1 {
	font-size: 45px;
}
.body p {
	font-size: 30px;
	color: cornsilk;

}
.contact {
	position: absolute;
	left: 50%;
	bottom: 20%;
	transform: translateX(-50%);
	padding:20px 40px;
	background-color: transparent;
	border: 1px solid orange;
	border-radius: 50px;
	font-size: 30px;
	font-weight: bolder;
	margin-top: 35px;
	cursor: pointer;
	overflow: hidden;
}

.contact a {
	text-decoration: none;
	color: #fff;
}
.contact span {
	background-color: orangered;
	position: absolute;
	height: 100%;
	width: 0;
	border-radius: 50px;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
.contact:hover span {
	width: 100%;
}
.contact:hover {
	border-width: 0;
}
.contact:hover a {
	color: cornsilk;
}
.contact:active span {
	background-color: red;
}
main h1 span {
	color: chartreuse;
}
.social-links {
	width: 100%;
	height: 300px;
	background-color: #aaa;
}
.social-links div h2 {
	font-family: verdana, serif;
	position: relative;
	color: white;
	text-shadow: 0 0 5px blue;
	text-align: center;
	font-size: 30px;
	padding: 65px 0 30px 0;
}
.social-links div ul {
	width: 100%;
	text-align: center;
	
}
.social-links div ul li {
	display: inline-block;

}
.social-links div ul li a {
	color: #000;
	text-decoration: none;
	display: flex;
	width: 80px;
	border-radius: 50%;
	box-sizing: border-box;
	height: 80px;
	margin: 10px;
	background-color: #fff;
	box-shadow: 0 0 27px #fff;	
	transition: 300ms;
	justify-content: center;
	align-items: center;
}
.social-links div ul li a:hover {
	color: #fff;
	background-color: #3b5998;
	width: 90px;
	height: 90px;
	margin: 5px;
}.social-links div ul li a:active {
	color: #fff;
	background-color: #3b5998;
	width: 90px;
	height: 90px;
	margin: 5px;
}

.social-links div ul li a .fab {
	font-size: 40px;
	transition: 500ms;
}
.social-links div ul li a:hover .fab {
	font-weight: 900;
	text-shadow: 0 0 15px yellowgreen;

}

