/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins&display=swap');

/* Common Css */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
h2 {
    font-family: 'mochiy Pop One', sans-serif;
    letter-spacing: 2px;
    word-spacing: 10px;
}
html {
    scroll-behavior: smooth;
}
.ul {
    padding: 0;
    margin: 0;
}
body {
    background-color: #181818;
}
.uppercase {
    text-transform: uppercase;
}
section {
    height: auto;
}
#menu {
    display: none;
}
/* Main Header  */

header {
    z-index: 10;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #292929;
    padding: 15px 50px;
}
.logo {
    height: 20px;
    width: 130px;
    margin-top: 7px;
    cursor: pointer;
}
nav {
    width: 100%;
    height: auto;
    position: relative;
}
nav div label {
    position: absolute;
    left: 50%;
    top: 4px;
    transform: translateX(-50%);
    display: none;
    text-transform: uppercase;
    color: #fff;
}
nav ul {
    text-align: center;
    height: 100%;
}
nav ul li {
    display: inline-block;
    padding: 0 65px;
    line-height: 35px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    display: block;
    position: relative;
}
nav ul li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 0%;
    background-color: #fff;
    left: 50%;
    bottom: 0;
    transition: all 0.4s ease-in-out
}
nav ul li a:hover::after {
    width: 100%;
    left: 0;
}
.sign_in {
    width: 100px;
    height: 35px;
    cursor: pointer;
    background-color: #fff;
    font-weight: 600;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.sign_in:hover {
    background-color: transparent;
    color: #fff;
    border: none;
}


/* Media quiry in header for android */
@media only screen and (min-width: 200px) and (max-width: 800px) {
    * {
        font-size: 14px;
    }
    header {
        padding: 10px 20px;
    }
    .logo {
        width: 110px;
        height: 12px;
    }
    nav ul {
        display: none;
    }
    nav ul li a:active {
        color: #f00;
    }
    nav ul li a::after {
        display: none;
    }
    .sign_in {
        font-size: 14px;
        width: 80px;
        height: 30px;
    }
    nav div label {
        top: 7px;
        display: flex;
        cursor: pointer;
        font-weight: 600;
    }
    nav div label:active {
        color: #f00;
    }
    nav input:checked + ul {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

}
@media only screen and (min-width: 200px) and (max-width: 1110px) {
    nav ul li {
        display: inline-block;
        padding: 0 15px;
        line-height: 35px;
    }
}


/* Conteiner */

.first_page {
    width: 100%;
    height: 100vh;
    position: relative;
}

img.banner, .circle {
    width: 15%;
    height: auto;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.circle {
    height: 17vw;
    width: 17%;
    background-color: #a460f9;
    border-radius: 50%;
}
.h1_p {
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translateY(-50%);
}
.h1_p h1 {
    color: #fff;
    font-size: 30px;
    font-family: 'mochiy Pop One', sans-serif;
}
.h1_p p {
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
}
.lets_start{
    margin: 20px 0;
}
.lets_start input {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    width: 125px;
    height: 40px;
    background-color: #a460f9;
    border: none;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.697);
    border-radius: none;
    cursor: pointer;
}
.lets_start a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    transition: 0.2s;
}
.lets_start a:hover {
    color: #a460f9;
}

/************** Courses **************/

.courses div.challenges {
    width: 100%;
    height: 80vh;
    position: relative;
}
.courses div.challenges h2 {
    position: absolute;
    text-align: center;
    color: #fff;
    font-weight: 700px;
    font-size: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.courses div.challenges div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 42%;
    height: 40vw;
    border: 2px dashed #fff;
    border-radius: 50%;
}
.find {
    margin: 30px 100px;
}
.find h2 {
    color: #fff;
    font-size: 60px;
    display: inline-block;
}
.find p {
    color: #ebebeb;
    padding-left: 15px;
    display: inline-block;
    color: #fff;
    font-size: 20px;
}
.courses div.course {
    width: 100%;
    padding-left: 2%;
    
}
.courses div.course div.full {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 25vw;
    border: 2px solid #fff;
    margin: 0 2%;
}
.courses div.course div.full div.small {
    position: absolute;
    left: 0;
    top: 0;
    width: 2vw;
    height: 2vw;
    background-color: #fff;
    line-height: 2vw;
    text-align: center;
    font-weight: 600;
}
.courses div.course div.full div.article {
    text-align: center;
    padding: 30px 15px;
    color: #fff;
}
.courses div.course div.full div.article h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.courses div.course div.full div.article h2::after {
    display: block;
    content: "";
    margin: 5px auto;
    border-radius: 2px;
    width: 60px;
    height: 2px;
    background-color: #a460f9;
}
.courses div.more {
    text-align: center;
    margin-top: 40px;
}
.courses div.more p {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}
.courses div.more a img {
    height: 20px;
    width: auto;
    vertical-align: middle;
    padding-left: 40px;
}

/******Contact **********/

.contact {
    margin-top: 100px;
    width: 100%;
    display: flex;
}
.contact img {
    width: 50%;
    float: left;
    display: inline;
}
.contact h2 {
    color: #a460f9;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 80px;
    font-size: 30px;
}
.contact form {
    padding-top: 10vw;
    margin-top: 10vw;
    width: 40%;
    height: auto;
    float: right;
    margin-right: 4%;
}
.contact input, .contact textarea {
    display: block;
    width: 100%;
    height: 60px;
    margin: 20px 0; 
    border: 1px solid #a460f9;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    outline: none;
}
.contact textarea {
    height: 17vh;
    min-height: 150px;
}
.contact input[type="submit"] {
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 20px auto;
    text-transform: capitalize;
    background-color: #a460f9;
    border-radius: 25px;
    cursor: pointer;
}
.contact input[type="submit"]:hover {
    background-color: #9b49ff;
}
.contact input:focus, .contact textarea:focus {
    border: 1px solid #9b49ff;
    box-shadow: 0 0 10px rgba(203, 160, 255, 0.781);
}

.contact input::placeholder, .contact textarea::placeholder {
    text-transform: uppercase;
    color: #a195b9;
}

/********  Footer Area  *********/

footer {
    width: 100%;
    height: 50vh;
    background-color: #a460f9;
    position: relative;
    z-index: 99;
    display: flex;
    padding: 0 5vw;
}
.first_item, .second_item  {
    float: left;
    padding: 3vw 5vw;
}
footer h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 2vw;
    display: inline-block;
    
}
footer h2::after {
    display: block;
    content: '';
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
footer ul {
    list-style-type: none;
}
footer ul li {
    padding: 5px 0;
}
footer ul li a {
    color: #fff;
    text-decoration: none;
}
.top {
    color: #fff;
}
.tops {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.sadiqullah {
    width: 100%;
    height: 100vh;
    position: relative;
}
.sadiqullah div.text {
    float: left;
    padding: 4vw 0 0 6%;
    width: 34%;
}
.sadiqullah div.text h2 {
    padding-bottom: 1em;
    font-size: 40px;
    color: #fff;
    text-decoration: underline;
}
.sadiqullah div.text p {
    color: #fff;
}
.sadiqullah img {
    float: right;
    filter: grayscale(100%) brightness(90%);
    width: 59%;
    height: auto;
}

/*******************     Media for Android     *******************************/

@media only screen and (min-width: 200px) and (max-width: 800px) {
    .sadiqullah {
        height: 60vh;
    }
    .sadiqullah div.text {
    float: none;
    margin: 10px 2% 40px;
    width: 96%;
}
.sadiqullah div.text h2 {
    font-size: 20px;
}
.sadiqullah img {
    float: none;
    width: 96%;
    margin: 3vh 2%;
}

    img.banner, .circle {
        position: relative;
        margin: 0 auto;
        width: 30%;
        height: auto;
        top: 100px;
        transform: translateX(-50%);
      }
      .h1_p {
        margin: 0 7px;
        position: relative;
        left: 0;
        top: 35vw;
        transform: none;
      }
      .courses div.challenges {
        height: 100vw;
    }
    .courses div.challenges h2 {
        font-size: 30px;
    }
    .courses div.challenges div {
        display: none;
    }
    .find {
        margin: 1em 2em;
    }
    .find h2 {
        color: #fff;
        font-size: 25px;
    }
    .find p {
        padding-left: 10px;
        font-size: 14px;
    }
    .courses div.course div.full {
        display: block;
        width: 92%;
        height: 85vw;
        border: 1px solid #fff;
        margin: 2vw 2%;
    }
    .courses div.course div.full div.small {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
    }
    .courses div.course div.full div.article {
        padding: 1em 2em;
    }
    .courses div.course div.full div.article h2 {
        font-size: 20px;
        margin-bottom: 3em;
    }
    .courses div.more {
        margin-top: 2em;
    }
    .courses div.more p {
        display: inline-block;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
    }
    /***** form ****/
    .contact form {
        display: block;
        padding-top: 10vw;
        margin-top: 10vw;
        width: 80%;
        float: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .contact {
        margin-top: 20px;
        display: block;
    }
}



/*******************     Media for TAB     **********************************/

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .courses div.course div.full {
        position: relative;
        display: inline-block;
        width: 42%;
        height: 50vw;
        border: 2px solid #fff;
        margin: 2%;
    }
    footer a {
        font-size: 14px;
    }
    footer h2 {
        font-size: 18px;
    }
}
